/* MEDIA QUERIES FOR IPADS */
@media (max-width: 900px) {
  #navbar .main-logo {
    width: 80px;
    height: 60px;
    margin-left: 2rem;
  }
  #hamburger {
    display: block;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-menu {
    position: fixed;
    top: 80px;
    right: -100%;
    flex-direction: column;
    background: #fff;
    align-items: center;
    width: 100%;
    height: 50vh;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px -10px 15px -10px rgba(186, 186, 186, 1);
  }

  #nav-menu li {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  #navbar #nav-menu li a:hover {
    color: rgb(21, 21, 237);
  }

  #nav-menu.active {
    right: 0;
  }

  #home {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #home .home-content {
    padding: 1.5rem 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #home .home-reviews {
    justify-content: center;
  }
  
  #residencies .residencies-header {
    margin-left: 0;
  }
  #logo {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }

  #logo .logo img {
    width: 200px;
  }

  #value {
    grid-template-columns: 1fr;
    margin: 1rem;
    padding: 1rem;
  }

  #contact {
    grid-template-columns: 1fr;
  }

  #footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERIES FOR SMARTPHONES  */
@media (min-width: 300px) and (max-width: 500px){
  
  #nav-menu li {
    font-size: 1.2rem !important;
    transition: 0.3s ease-in-out;
  }

  #navbar #nav-menu li a:hover {
    color: rgb(21, 21, 237);
  }

  .main-image img {
    width: 230px;
    height: 400px;
  }

  #home,
  #residencies,
  #value,
  #contact,
  #footer {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #home .home-content {
    grid-template-columns: 1fr;
  }

  #home .form input {
    width: 265px;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 12px;
    border: 2px solid rgba(144, 144, 144, 0.848);
    transition: 0.2s ease-in-out;
    font-size: 1rem;
  }

  #home .home-reviews h2 {
    font-size: 1.5rem;
  }

  #home .home-reviews i {
    font-size: 1rem;
  }
  #residencies .residencies-header {
    margin-left: 20%;
  }

  #residencies .residencies-container {
    width: 100%;
  }

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
  #logo {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }
  #value .value-header {
  margin: 2rem 0;
}
  #contact .cards-container {
    grid-template-columns: 1fr;
    align-content: center;
  }
  #footer .footer-content {
    grid-template-columns: 1fr;
  }

  #footer .copyright {
    font-size: 0.8rem;
   
  }
}
